{%- macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
   {{ field() }}
{% else %}
	<div class="clearfix {% if field.errors %}error{% endif %}">
		<h1>{{ field.label }}</h1>
		<div class="input">

		  {% if field.name == "content" %}
			{{ field(rows=75, cols=75) }}

		  {% if field.name == "post" %}
			{{ field(rows=20, cols=200) }}

		  {% else %}
			{{ field() }}
	       	 {% endif %}
		 {% if field.errors or field.help_text %}
		   <span class="help-inline">
		   {% if field.errors %}
			{{ field.errors|join(' ') }}
		   {% else %}
			{{ field.help_text }}
		   {% endif %}
		  </span>
		 {% endif %}
	      </div>
	</div>
{% endif %}
{% endfor %}
</fieldset>
{% endmacro %}
